.backdrop{
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   opacity: 0.46;
   background-color:rgb(33, 33, 33);

   // .backdrop__modal{
   //    z-index: var(--z-fixed);
   // }
   // .backdrop__navbar{
   //    z-index: var(--z-tooltip);
   // }
   
   &-open{
      overflow-y: hidden;
   }

   @include rwd(large){
      &-open{
         overflow-y: hidden;
         padding-right: 18px;
      }
   }
}