.btn{
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: .0892857143em;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: .0892857143em;
  transition-duration: .28s;
  transition-property: box-shadow,transform,opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  padding: .75em 1em;
  color: inherit;
  display: block;
  font-size: $fontSizeText;
}

.btn--flat{
  background-color: transparent;
}

.btn--outline{
  border: thin solid;
}

.btn--rounded{
  border-radius: 28px;
}

.btn:hover::before{
  opacity: .04;
}
.btn:focus:before{
  opacity: .12;
}

.btn:not(.btn--outline):not(.btn--flat):hover::before{
  opacity: .08;
}
.btn:not(.btn--outline):not(.btn--flat):focus::before{
  opacity: .24;
}
.btn:not(.btn--outline):not(.btn--flat):active{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.btn::before{
  border-radius: inherit;
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s cubic-bezier(.4,0,.6,1);
  background-color: currentColor;
}

.btn--block {
  width: 100%;
  text-align: center;
}

.btn--close {
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: currentColor;
  padding:0 .2em;
  border-radius: 50%;
  transition-duration: .28s;
  transition-property: box-shadow,transform,opacity,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  background-color: transparent;  
}

.btn--close::after{
  content: "X";
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
}

.btn--close:focus{
  outline:none;
}

.btn--icon::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: inherit;
  opacity: 0;
  background-color: currentColor;
  transition: opacity .2s cubic-bezier(.4,0,.6,1);
  border-radius: 50%;

}
.btn--icon:hover::before{
  opacity: .08;
}
.btn--icon:focus::before{
  opacity: .24;
}

.btn--icon{
  position: relative;
  color: inherit;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--icon:focus{
  outline: none;
}