.modal{
   width: 100%;
   position: fixed;
   height: 100%;
   top: 0;
   z-index: -10;
   justify-content: center;
   align-items: center;
   transition: .3s cubic-bezier(.25,.8,.25,1);
   display: flex;


   &--active{
      z-index: var(--z-modal);   
   }

   &--persistent{
      transform: scale(1);
      animation: modal-persistent .15s cubic-bezier(.25,.8,.25,1);
   }

   @keyframes modal-persistent{
      to{
         transform: scale(1.02);
      }
   }

   .modal.modal--active &--dialog{
      transform: scale(1);
      visibility: visible;
   }

   .modal--dialog.x-medium{
      width: 92vw;
   }
   .modal--dialog.x-small{
      width: 92vw;
   }
   .modal--dialog.x-large{
      width: 92vw;
   }

   .modal--dialog.y-medium{
      height: 84vh;
      overflow-y: auto;
   }
   .modal--dialog.y-small{
      height: 32vh;
      overflow-y: auto;
   }
   .modal--dialog.y-large{
      height: 84vh;
      overflow-y: auto;
   }

   &--dialog{
      visibility: hidden;
      position: absolute;
      width: 92%;
      height: 50%;
      overflow-y: auto;
      background-color: #fff;
      transform-origin: center center;
      transform: scale(0);
      transition: .3s cubic-bezier(.25,.8,.25,1);
      box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
   }

   @include rwd(large){
      .modal--dialog.x-medium{
         width: 50vw;
      }
      .modal--dialog.x-small{
         width: 28vw;
      }
      .modal--dialog.x-large{
         width: 92vw;
      }
      .modal--dialog.y-small{
         height:25vh;
         overflow-y: auto;
      }
      .modal--dialog.y-medium{
         height: 50vh;
         overflow-y: auto;
      }
      .modal--dialog.y-large{
         height: 92vh;
         overflow-y: auto;
      }
   }

   &:focus{
      outline: none;
   }
}