@each $key,$value  in $colors {
   .bg--#{$key}{
     background-color: #{$value} !important;
     color: #fff !important;
   }
}
.bg--white{
   color: $textColor !important;
   background-color: #fff !important;
}
.bg--transparent{
   background-color: transparent !important;
}