%arrow{
   display: inline-block;
   margin-left: .255em;
   vertical-align: .255em;
   border-top: .3em solid transparent;
   border-right: .3em solid transparent;
   border-bottom: .3em solid transparent;
   border-left: .3em solid;
   align-self: center;
   color: inherit;
   pointer-events: none;
}

.arrow{
   @extend %arrow;
   margin-top: .225em;
}

.arrow-bottom{
   @extend %arrow;
   transform: rotate3d(0, 0, 1, 90deg);
   position: relative;
   top: 5px;
}
