:root{
   --text-xsmall:.5rem;
   --text-small:.75rem;
   --text-medium:1rem;
   --tet-sub: 1.175rem;
   --text-large:2.5rem;
   --text-xlarge:3rem;
}

@each $key,$value in $buttonsColor{
   .text-#{$key}{
      color:$value !important;
   }
} 

.text-white{
   color: #fff !important;
}

.text{
   &-center{
      text-align: center;
   }
   &-left{
      text-align: left;
   }
   &-right{
      text-align: right;
   }
   &-xsm{
      font-size:var(--text-xsmall) !important;
   }
   &-sm{
      font-size:var(--text-small) !important;
   }
   &-md{
      font-size:var(--text-medium) !important;
   }
   &-lg{
      font-size:var(--text-large) !important;
   }
   &-xlg{
      font-size:var(--text-xlarge) !important;
   }
   &-sub{
      font-size:var(--text-sub) !important;
   }
}