$colors:(
   primary: #1867c0,
   secondary:#51cf8e,
   third: #f56431d9,
   success: #28a745,
   dark : #343a40,
   danger: #dc3545,
   warning: #ffc107,
   info : #17a2b8,
   gray: #545b62,
);
$textColor: #53575A;
$selectionBgColor : #51cf8e;
$selectionTxtColor: #fff;
$fontSizeText:16px;

@import "utils/variables";
@import "utils/mixin";
@import "utils/text";
@import "utils/icons";
@import "utils/link";

@import "base/base";

@import "layouts/layout";

@import "utils/backgrounds";
@import "utils/border";

@import "components/form";
@import "components/buttons";
@import "components/navbar";
@import "components/preloader";
@import "components/carousel";
@import "components/backdrop";
@import "components/modal";
@import "components/ripple";
@import "components/card";
@import "components/skeleton";
@import "components/accordion";
@import "components/dropdown";
@import "components/list";